  
{% extends 'base.html' %}
{% block title %} Home  {% endblock %}
{% block content %}
{% load static %}

	<!-- banner -->
	<div class="slider" style="text-align:center;">
		<div class="callbacks_container">
			<ul class="rslides callbacks callbacks1" id="slider4">
				<li>
				
					<div class="banner1">
						
						<div class="banner-info_agile_w3ls">
							<div class="w3ls-titles text-center mb-5"><img src="https://c1.wallpaperflare.com/preview/930/267/647/heart-care-medical-care-heart.jpg" width="200" height="200"> 		</div>
							<div class="container">
<span><h2>Cad Project 
									G-13</span></h2>
									<span><h8>Iot Alcohol and Health motnitering System</span></h8>
									
							</div>
						</div>
					</div>
				</li>
				
				
			</ul>
			
		</div>
	</div>
	<!-- //banner -->
	<div class="clearfix"></div>
				
	<!-- banner bottom -->
	
	<!-- //banner bottom -->

	<br>	<br>	<br>	<br>	<br>	<br>	<br>	<br>	<br>	<br>

	<!-- services -->
	<div class="why-choose-agile pt-5" id="services">
		<div class="container pt-xl-5 pt-lg-3">
			<div class="w3ls-titles text-center mb-5">
				<h3 class="title">Services</h3>
				<img src="https://c0.wallpaperflare.com/preview/810/376/64/care-connection-device-diagnosis.jpg" width="300" height="300"> 		
			</div>
			<div class="row why-choose-agile-grids-top">
				<div class="col-lg-4 agileits-w3layouts-grid">
					<div class="row wthree_agile_us">
						<div class="col-3 agile-why-text p-0 text-right">
							<div class="wthree_features_grid">
								<i class="fas fa-user-md"></i>
							</div>
						</div>
						<div class="col-9 agile-why-text-2">
							<h4 class="text-dark font-weight-bold mb-3">General health care</h4>
							<p>Put data and see the result.</p>
						</div>
					</div>
					<br><br><br>
					<div class="row wthree_agile_us">
						<div class="col-3 agile-why-text p-0 text-right">
							<div class="wthree_features_grid">
								<i class="fab fa-medrt"></i>
							</div>
						</div>
						<div class="col-9 agile-why-text-2">
							<h4 class="text-dark font-weight-bold mb-3">Medical Treatment</h4>
							<p>We can help in medical seeing that person is having proper report or no. </p>
						</div>
					</div>
				</div>
				
				</div><br><br><br><br><br>
			</div>
		</div>
	</div>
	<!-- //services -->





	{% endblock %}
